.selectBox {
    background-color: #fff;
    border: none;
    outline: none;
    box-shadow: 0px 8px 15px rgba(80, 81, 249, 0.08);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.selectBox svg {
    margin-left: 11px;
}

.selectBox .selector ul {
    position: absolute;
    left: 0;
    right: 0;
    top: 110%;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    z-index: 100;
}


.selectBox .selector ul li {
    padding: 10px;
    transition: all .3s ease;
}

.selectBox .selector ul li:first-child {
    margin-top: 0px;
}

.selectBox .selector ul li:hover {
    background-color: #f1f1f1;
}

.selectBox .selector ul li svg {
    margin: 0;
    display: block;
}

.selectBox .selector .selectField,
.selectBox .selector ul li {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #232360;
}