.Home {
    display: flex;
    flex-direction: row;
}

.Home .leftSide {
    padding: 30px 40px;
    min-height: calc(100vh - 76px);
    width: 100%;
}

.Home .rightSide {
    padding: 30px 40px;
    width: 396px;
    min-height: calc(100vh - 76px);
    background-color: #fff;
}

/* leftSide */

.leftSide .widgets {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

/* rightSide */

