* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'DM Sans', sans-serif;
    background-color: #F3F4F8;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}

main {
    margin-left: 93px;
    min-height: calc(100vh - 76px);
}